@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}
#home{
    height: 100vh;
    background:linear-gradient(#0162be, #063056);
    color: #fff;
}
.container{
    margin: 0 7rem;
    height: 100%;
}
nav .logo {
    width: 50px;
}

a{
    text-decoration: none;  
}
ul{
    list-style: none;  
}
nav ul a{
    padding: 20px;
    color: #fff;
}
nav ul a:hover{
    color: #063056;

}
nav ul{
    display: flex;
    align-items: center; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
}
#home .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}
#home .content img{
    width: 250px;
    animation: animation1 1s ease-out;
}
#home .content .content-text h1{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#home .content .content-text h1 span{
    font-size: 70px;
}
#home .content .content-text p{
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 1.4;
    width: 60%;
}
.btn{
    font-size: 14px;
    font-weight: 500;
    padding: 10px 15px;
    background-color: #fff;
    color:#063056 ;
    border-radius: 30px;
    text-transform: capitalize;
    transition: all .2s;
}
.btn:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.social{
    margin-left: 2rem;

}
.social i{
    color:#fff;
    font-size: 25px;
    margin: 10px 0;
}
.pepsi-types{
    display: block;
    width: 120px;
    margin: auto;
    animation: animation1 1s ease-out;
}
@keyframes animation1 {
    0%{
        transform: translateX(500px);
    }

    100%{
        transform: translateX(0);
    }
    
}
@keyframes animation2 {
    0%{
        transform: translateY(500px);
    }

    100%{
        transform: translateY(0);
    }
    
}
@media (max-width: 900px){
    .container {
        margin: 0 1rem;
    }

    nav ul a{
        padding: 10px;
    }

    #home .content{
        flex-direction: column;
        text-align: center;
        padding: 2rem 0 0;
    }
     #home .content .content-text {
        margin-bottom: 2rem;
     }

    #home .content .content-text p{
    width: 100%;
}

#home .content img{
    width: 220px;
    margin-bottom: 10px; 
}
.social{
    margin-left: 0;
    margin-bottom: 15px;
}
    
}
@media (max-width: 600px){
    nav{
        display: block;
    }
    nav .logo {
        display: block;
        margin: 0 auto 15px;
    }
    nav ul{
        justify-content: center;
    }
    nav ul a{
        font-size: 12px;
    }
    .pepsi-types{
        margin-top: 15px;
    }
}

